In [11]:
# ★★★ 정수로 입력한 후, for 문으로 리스트에 접근하는 방법 ★★★
# -> for i in range(1,len(num)):


num = list(map(int,input().split()))

tmp = 0
for i in range(0,len(num)):
    tmp += num[i]
    
print(tmp)

10 20 30 40
100

In [12]:
# ★★★ 정수형을 문자열로 바꾼 후 리스트 변경 방법 ★★★

# input -----> 세자리 수 입력 후 곱해줌
mul = 1
for i in range(3):
    num2 = int(input())
    mul *= num2
    
mul_list_value = list(str(mul)) # 정수형을 문자열로 바꾼 후, 리스트로 변경  # ['1', '7', '0', '3', '7', '3', '0', '0']
print(mul_list_value)



# ★★★ for 문을 통해 str(i)로 문자열 == 리스트 내에 있는 문자열 비교  ★★★
# output -->  0~9까지 수를 출력해서 나타냄
for i in range(10):    
    
    # ★★★ 0~9 문자열(str)과 리스트의 값(str)을 인덱싱 해서 비교 가능 ★★★
    # 즉 아래 코드는 "0"~"9" == 리스트 값 ['1', '7', '0', '3', '7', '3', '0', '0']
    if(str(i) == mul_list_value) :
        mul_list_value.count(str(i)) # 같은 값을 count 해서 숫자 세려라 0이 1개면 0은 1개 

    print(mul_list_value.count(str(i)))

150
266
427
['1', '7', '0', '3', '7', '3', '0', '0']

In [13]:
# ★★★ 입력한 값을 for 문에 넣어서 바로 곱해주는 연산 ★★★
# 3 * ABC => AAABBBCCC


T = int(input())

temp = []
for i in range(T):
    S,R = input().split()
    temp.append(R)
    
    
    for i in range(len(R)):
        print(int(S) * R[i], end="")
    print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [14]:
# ★★★ 리스트 값 reverse 하는 방법 ★★★


# ★★ reverse를 쓰기 위해서 str으로 선언 한 후 [::-1]을 이용하여 뒤집는다 ★★
num1,num2 = list(map(str,input().split()))  # 734 , 893

reverse_num1 = num1[::-1] # 437
reverse_num2 = num2[::-1] # 398


if reverse_num1 > reverse_num2 :
    print(reverse_num1)
    
else :
    print(reverse_num2)

123 456
654

In [15]:
# S.find(chr(i))  -> 값이 존재하면 인덱스 위치 값, 존재하지 않으면 -1
# ★★★ 정수를 아스키코드로 변환 -> chr() ★★★

S = input().lower()

arr = []
for i in range(97,123): 
    arr.append(S.find(chr(i)))
    
print(* arr)

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [17]:
# list 내 최소값 , 최대값 출력


N = int(input())
num = list(map(int,input().split()))

print(min(num),max(num))

3
10 20 30
10 30

## 아스키 코드
#### ord (문자 입력 -> 숫자), 암기법은 o , 8진수를 떠올려 정수로 바꿔준다고 생각
* word = ord(input())

#### chr(숫자 입력 -> 문자), 암기법은 c , char형을 떠올려 문자로 바꿔준다고 생각 
* word = chr(int(input()))

In [19]:
# 입력한 문자를 아스키 코드로 변경
word = ord(input())
print(word)

A
65

In [20]:
# 입력한 정수를 아스키코드로 변경
word2 = chr(int(input()))
print(word2)

97
a